#head-1{ background-color: black; 
    color: white; text-align: center; 
    margin-left: 30%;margin-right: 30%;padding: 1%;}
    #head-a{ background-color: #a0b6c9;}
    #head-2{ background-color: #000000; color: #ffffff; text-align: center;
    margin-left: 15%; margin-right: 15%; padding: 1%;}
#sky01{ background-color: #03035c; 
    color: #ffffff;text-align: center; margin: 0%;
margin-left: 1.5%;
margin-right: 1.5%;
padding: 4px;
}
#sky02{ background-color: #1e1eec; color: 
    #ffffff;text-align: center; margin: 0%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 4px;
    }
    #sky03{ background-color: #4343f3; 
        color: #ffffff;text-align: center; margin: 0%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 4px;
        }
        #sky04{ background-color: #6363f5; 
            color: #ffffff;text-align: center; margin: 0%;
            margin-left: 2.75%;
            margin-right: 2.75%;
            padding: 4px;
            }
            #sky05{ background-color: #7f7ff7; 
                color: #ffffff;text-align: center; margin: 0%;
                margin-left: 3%;
                margin-right: 3%;
                padding: 4px;
                }
                #sky06{ background-color: #6e6eec; color:
                     #ffffff;text-align: center; margin: 0%;
                    margin-left: 3.5%;
                    margin-right: 3.5%;
                    padding: 4px;
                    }
                        #green08{ background-color: #186904; 
                            color: #ffffff;text-align: center; margin: 0%;
                            margin-left: 5.5%;
                            margin-right: 5.5%;
                            padding: 4px;
                            }
                            #green09{ background-color: #f8aaaa; color:
                                 #ffffff;text-align: center; margin: 0%;
                                margin-left: 3.75%;
                                margin-right: 3.75%;
                                padding: 4px;
                                }
                                #green10{ background-color: #f38282; color:
                                    #ffffff;text-align: center; margin: 0%;
                                   margin-left: 3.5%;
                                   margin-right: 3.5%;
                                   padding: 4px;
                                   }
                                #green11{ background-color: #df6666; color:
                                     #ffffff;text-align: center; margin: 0%;
                                    margin-left: 3%;
                                    margin-right: 3%;
                                    padding: 4px;
                                    }
                                    #green12{ background-color: #d44848; color: 
                                        #ffffff;text-align: center; margin: 0%;
                                        margin-left: 2.75%;
                                        margin-right: 2.75%;
                                        padding: 4px;
                                        }
                                        #green13{ background-color: #c23535; color:
                                             #ffffff;text-align: center; margin: 0%;
                                            margin-left: 2.5%;
                                            margin-right: 2.5%;
                                            padding: 4px;
                                            }
                                            #green14{ background-color: #a11a1a; color: 
                                                #ffffff;text-align: center; margin: 0%;
                                                margin-left: 2%;
                                                margin-right: 2%;
                                                padding: 4px;
                                                }
                                                #green15{ background-color: #680707; color: 
                                                    #ffffff;text-align: center; margin: 0%;
                                                    margin-left: 1.5%;
                                                    margin-right: 1.5%;
                                                    padding: 4px;
                                                    }
                                                    #green16{ background-color: #0b3002; color: white;
                                                        margin-left: 30%; margin-right: 30%; text-align: center;
                                                        padding: 4px; 

                                                    }